
	<%- contentFor('hero') %>
	<section class="heroabout">
		<div class="hero-content">
			<h2>All about Vector!</h2>
			<p>The voice of Cockrell students.</p>

			<a href="/contact" class="btn btn-lg btn-primary">Stay in touch</a>
		</div>
	</section>
	
	<%- contentFor('body') %>
	<div class="jumbotron text-center">
		Home Page
	</div>
	

